
body {
  background: #eee;
}
.jumptarget::before {
  content: "";
  display: block;
  height: 80px;
 /* margin: -111px 0 0;*/
}

#nav-bar {
  position: fixed;
  background-color: #333;
}

.navbar {
  height: 80px;
  width: 100%;
}

#header-img {
  padding: 5px;
  width: 9vw;
  margin-top: 5px;
}

h1 {
  float: right;
  padding: 4px;
  margin-top: 3px;
  font-size: 50px;
  color: #ddd;
}

.navbar {
  text-align: center;
  width: 100%;
}

.navbar ul {
  display: inline-block;
}

.navbar li {
  float: left;
  font-size: 1.3em;
}

.navbar li + li {
  margin-left: 20px;
}


.info-vid {
  display: flex;
  justify-content: center;
  align-items: center;
}
#video {
  height: 400px;
  width: 700px;
}

#options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pane {
  border: solid black;
  text-align: center;
  float: left;
  padding: 0 10px;
  margin: 10px;
}
.pane h4 {
  font-weight: bold;

}
